.error {
    color: $primary-color;
    @extend %flex-column;
    margin: 22px 22px;
    &__number {
        @include flex-center;

        @include font(96px, 700);
        margin: 5rem 0 1rem 0;

        @media screen and (min-width: $breakpoint-desktop) {
            @include font(288px, 700);
            margin: 0;
        }
    }
    &__text {
        @extend %flex-end;
        text-align: center;

        @include font(18px, 500);
        margin: 0 11%;

        @media screen and (min-width: $breakpoint-desktop) {
            @include font(36px, 500);
            margin: 0;
        }
    }
    &__link {
        @extend %flex-end;
        color: $primary-color;

        @include font(14px, 500);
        margin: 3rem 0 5rem 0;

        @media screen and (min-width: $breakpoint-desktop) {
            @include font(18px, 500);
            margin-top: 7rem;
        }

        &:hover,
        &:focus {
            text-decoration-line: underline;
        }
    }
}