.host {
    display: flex;
    flex-direction: row;
    &__name {
        @include font(18px, 500);
        margin-right: 10px;
        text-align: right;
        width: 93px;
        position: relative;
        top: 8px;
        right: 5px;
    }
    &__image {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        object-fit: cover;
    }
}